body {
    background-color: #FFD670;
}

.container>h3 {
    color: #eee;
    margin-bottom: 24px;
}

.card {
    max-height: 300px;
    overflow: hidden;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

#main-carousel {
    max-height: 80px;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
}